<div class="wrapper" [ngClass]="{active: isSideBarOpened}">
  <div class="navbar">
    <div class="hamburger">
      <div class="hamburger__inner" (click)="onSideBarToggle()">
        <mat-icon>menu</mat-icon>
      </div>
    </div>

    <div class="menu">
      <div class="header__logo">
        <a routerLink="/">{{logoTitle}}</a>
      </div>

      <div class="right__menu">
        <ul>
          <li><mat-icon>person</mat-icon>
            <div class="profile_dropdown">
              <div class="dd_item">Profile</div>
              <div class="dd_item">Change Password</div>
              <div class="dd_item">Logout</div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <main class="main">
    <div class="sidebar">
      <div class="sidebar__inner">
        <div class="profile">
          <div class="img">
            <img src="assets/img/profile/Male.jpg" alt="profile">
          </div>
          <div class="profile__info">
            <p>Welcome</p>
            <p class="profile__name">Alex John</p>
          </div>

        </div>
        <div class="sidebar__list">
          <ul>
            <li
              *ngFor="let link of links"
              routerLinkActive="active"
            >
              <a [routerLink]="[link.url]">
                <mat-icon class="icon">{{link.iconName}}</mat-icon>
                <span class="title">{{link.title}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

