.product__row {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-around;
}

.product__column-picture {
  align-items: center;
  justify-content: center;
}

.product__column-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
}

.product__details {
  color: #666666;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;

  &-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  &-info {
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    &-price {
      font-size: 22px;
    }
  }
}

.card {
  padding: 20px;
  max-width: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  border-radius: 6px;
}

.button {
  width: 150px;
  height: 40px;
  border: 2px solid #f5f5f5;
  background-color: #fafafa;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #666666;

  &:hover {
    background-color: #f5f5f5;
  }
}
