<main class="main-container">
  <div class="container">
    <div class="main__row">
      <div class="main__column-nav">
        <app-sidebar></app-sidebar>
      </div>
      <div class="main__column-content">
        <div class="cards-wrapper">
          <app-product-card></app-product-card>
          <app-product-card></app-product-card>
          <app-product-card></app-product-card>
          <app-product-card></app-product-card>
          <app-product-card></app-product-card>
        </div>
      </div>
    </div>
  </div>
</main>
