<p>dashboard-page works!</p>




<div class="fixed-container">
  <div class="fixed fixed-icon-holder">
    <mat-icon>add</mat-icon>
  </div>
  <ul class="fixed-options">
    <li>
      <span class="fixed-icon-holder-label">Add category</span>
      <div class="fixed-icon-holder">
        <mat-icon>category</mat-icon>
      </div>
    </li>
    <li>
      <span class="fixed-icon-holder-label">Add product</span>
      <div class="fixed-icon-holder">
        <mat-icon>post_add</mat-icon>
      </div>
    </li>
    <li>
      <span class="fixed-icon-holder-label">Add user</span>
      <div class="fixed-icon-holder">
        <mat-icon>person_add</mat-icon>
      </div>
    </li>
  </ul>
</div>
