
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$online-shop-primary: mat-palette($mat-indigo);
$online-shop-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$online-shop-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$online-shop-theme: mat-light-theme((
  color: (
    primary: $online-shop-primary,
    accent: $online-shop-accent,
    warn: $online-shop-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($online-shop-theme);

@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --blue: #1875f0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fafafa;
  //only for dev
  margin: 0 0 200px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: var(--blue);
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1;
}

button:active, button:focus {
  outline: none;
}

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button {
  height: 40px;
  border: 2px solid #f5f5f5;
  background-color: #fafafa;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #666666;

  &:hover {
    background-color: #f5f5f5;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.button-primary {
  color: #f5f5f5;
  background-color: var(--blue);

  &:hover {
    background-color: #3184f1;
  }
}

.toast-title {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400 !important;
}
