<div class="container">
  <div class="product__row card">
    <div class="product__column-picture">
      <img src="../../../../assets/img/goods/phones/Phone-promo.jpg" alt="Phone-preview">
    </div>
    <div class="product__column-content">
        <div class="product__details">
          <div class="product__details-title">
            Apple iPhone 7, 128 GB
          </div>
          <div class="product__details-info">
            <div class="product__details-info-price">
              $ 384.4
            </div>
            <div class="product__details-info-rate">
              <img src="../../../../assets/icons/card-icons/star_icon.svg" alt="Star">
              <img src="../../../../assets/icons/card-icons/star_icon.svg" alt="Star">
              <img src="../../../../assets/icons/card-icons/star_icon.svg" alt="Star">
              <img src="../../../../assets/icons/card-icons/star_half_icon.svg" alt="Star">
              <img src="../../../../assets/icons/card-icons/star_border_icon.svg" alt="Star">
            </div>
            <div class="product__details-info-orders">
              2348
            </div>
          </div>
          <div class="product__details-description">
            Some info
          </div>
        </div>
        <div class="product__actions">
          <button
            class="button"
          >ADD TO CART</button>
        </div>
    </div>
  </div>
</div>
